@font-face {
    font-family: 'iconfont';
    src: url(../font/iconfont.woff2);
}

.iconfont{
    font-family: iconfont;
    font-style: normal;
    vertical-align: middle;
}

*{
    margin: 0;
    padding: 0;
}

.header{
    position: relative;
    height: 155px;
}

.banner{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 155px;
    background-image:url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
}

.banner__gradient{
    position: absolute;
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(0,0,0,.4),transparent);
}

.banner__logo-wrap{
    width: 1198px;
}

.banner__logo{
    position: absolute;
    bottom: 10px;
    display: block;
    width: 220px;
    height: 50%;
}

.banner__img{
    height: 100%;
}

.mini-header{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 10px 24px;
    box-sizing: border-box;
}

.nav-link{
    height: 36px;
    line-height: 36px;
}

.nav-link__list{
    display: flex;
    list-style: none;
}

.nav-link__item{
    margin-right: 12px;
}

.link{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.iconfont--tv{
    margin-right: 6px;
    font-size: 18px;
}

.iconfont--mobile{
    font-size: 18px;
}

.nav-search-box{
    position: relative;
    width: 320px;
    height: 34px;
    line-height: 34px;
    margin: 0 10px;
    padding: 0 38px 0 16px;
    border: 1px solid hsla(0,0%,100%,0);
    border-radius: 2px;
    background-color: #fff;
}

.search__input{
    width: 100%;
    height: 34px;
    line-height: 34px;
    background-color: #fff;
    font-size: 14px;
    transition: all .2s;
    border: none;
    outline: medium;
}

.search__btn{
    position: absolute;
    top: -1px;
    right: -1px;
    width: 48px;
    height: 36px;
    line-height: 26px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    color: #505050;
    background-color: #e7e7e7;
}

.search__btn:hover{
    color: #00a1d6;
}

.nav-user-center{
    display: flex;
    height: 36px;
    line-height: 36px;
}

.user-action{
    display: flex;
    list-style: none;
}

.user-action__item{
    float:left;
    font-size: 14px;
    color: #fff;
    margin-left: 12px;
    cursor: pointer;
}

.user-action__item--login{
    width: 64px;
    height: 36px;
    margin: 0;
    text-align: center;
}

.unlogin-avatar{
    width: 36px;
    height: 36px;
    color: #00a1d6;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50%;
}

.contribute{
    width: 100px;
    height: 36px;
    line-height: 36px;
    margin-left: 14px;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #fb7299;
    cursor: pointer;
}

/* 首页链接栏 */
.primary-menu-wrap{
    width: 1198px;
    margin: 0 auto;
}

.primary-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.tab-line{
    display: block;
    height: 46px;
    width: 1px;
    background-color: #e7e7e7;
    margin: 0 8px;
}

.page-tab__list{
    display: flex;
    list-style: none;
}

.page-tab__item{
    width: 50px;
    height: 68px;
    text-align: center;
    font-size: 14px;
}

.page-tab__link{
    display: block;
    text-decoration: none;
    color: #212121;
    transition: color .3s;
}

.page-tab__icon{
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin: 0 auto 4px;
    color: #fff;
    font-size: 28px;
    text-align: center;
    background-color: #ff5c7c;
    border-radius: 50%;
}

.page-tab__icon > .iconfont{
    display: block;
}

.page-tab__icon--yellow{
    background-color: #fcba2a;
}

.page-tab__icon--orange{
    background-color: #ff716d;
}

.page-tab__icon--green{
    background-color: #6dc781;
}

.channel-menu{
    display: flex;
    flex-wrap: wrap;
    /* 允许分行 */
    flex-direction: column;
    flex-grow: 1;
    height: 68px;
}

.channel-menu__item{
    height: 34px;
    line-height: 34px;
    font-size: 14px;
}

.channel-menu__link{
    text-decoration: none;
    color: inherit;
}

.channel-menu__num{
    display: inline-block;
    width: 32px;
    /* 重置行高，否则会使用父元素行高导致高度异常 */
    line-height: normal;
    margin-left: 1px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background-color: #73c9e5;
    border-radius: 2px;
    transform: scale(.85);
}

.channel-menu__num--more{
    font-size: 16px;
    margin-left: 5px;
}

.friendship-link{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 220px;
    height: 68px;
}

.friendship-link__item{
    height: 34px;
    line-height: 34px;
    font-size: 14px;
}

.friendship-link__svg{
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    background-color: #6dc781;
    vertical-align: middle;
}

.friendship-link__desc{
    margin-left: 4px;
}

.first-screen{
    width: 1198px;
    margin: 0 auto;
}

.recommend{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.home-slide{
    position: relative;
    width: 550px;
    height: 242px;
}

.home-slide__img{
    width: 100%;
    height: 100%;
}

.home-slide__actions{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48px;
    line-height: 48px;
    color: #fff;
    background: linear-gradient(transparent,rgba(0,0,0,.4));
}

.home-slide__desc{
    display: inline-block;
    position: absolute;
    left: 12px;
    bottom: 10px;
    width: 70%;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: normal;
}

.home-slide__more{
    position: absolute;
    bottom: 44px;
    right: 12px;
    padding: 4px 8px;
    font-size: 12px;
    color: #fff;
    background-color: rgba(0,0,0,.65);
    border-radius: 2px;
    text-decoration: none;
    opacity: 0;
    transition: all .3s;
}

.home-slide:hover .home-slide__more{
    opacity: 1;
}

.home-slide__more .iconfont{
    font-size: 16px;
}

.rcmd-box-wrap{
    width: 638px;
    height: 242px;
}

.rcmd-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 638px;
    height: 242px;
}

.rcmd-item{
    position: relative;
    width: 206px;
    height: 116px;
    margin-bottom: 10px;
    overflow: hidden;
    /* background-color: #00a1d6; */
}

.rcmd-item__link{
    display: block;
    text-decoration: none;
}

.rcmd-item__img{
    width: 100%;
}

.rcmd-item__info{
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 26px 10px 10px;
    transition: all .2s;
    box-sizing: border-box;
}

.rcmd-item:hover .rcmd-item__info{
    top: 0;
    background-color: rgba(0,0,0,.7);
}

.rcmd-item__desc{
    height: 18px;
    line-height: 18px;
    margin-bottom: 6px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rcmd-item:hover .rcmd-item__desc{
    height: 36px;
    text-overflow: unset;
    white-space:normal;
}

.rcmd-item__info .up{
    color: #e0e0e0;
    margin-bottom: 3px;
}

.rcmd-item__play{
    font-size: 12px;
    color: #e0e0e0;
    margin-bottom: 3px;
}

.promote{
    display: flex;
    justify-content: space-between;
    width: 1198px;
    margin: 0 auto 40px;
}

.extension{
    width: 854px;
}

.storey-title{
    display: flex;
    width: 100%;
    margin-bottom: 16px;
}

.storey-title__svg-icon{
    width: 36px;
    height: 36px;
    margin-right: 6px;
    background-color: #fb7299;
}

.storey-title__name{
    margin: 0 20px 0 0;
    color: #212121;
    font-size: 20px;
    line-height: 36px;
    text-decoration: none;
    vertical-align: bottom;
}

.storey-text-info{
    line-height: 36px;
}

.storey-text-info__link{
    margin-right: 10px;
    color: #505050;
    font-size: 12px;
    text-decoration: none;
}

.storey-text-info__link .iconfont{
    margin-right: 3px;
    color: #f0361b;
    font-size: 16px;
    vertical-align:baseline;
}

.ext-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ext-card{
    width: 206px;
}

.ext-card__img{
    width: 100%;
    border-radius: 2px;
}

.ext-card__title{
    height: 40px;
    line-height: 20px;
    margin: 10px 0 8px;
    padding-right: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
}

.up{
    line-height: 16px;
    font-size: 12px;
    color: #999;
}

.bypb-window{
    width: 320px;
}

.bypb-window__title{
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 3px 0 19px 0;
    text-align: center;
    font-size: 12px;
    color: #212121;
    background-color: #f4f4f4;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    box-sizing: border-box;
}

.bypb-window__ad{
    width: 100%;
}

.footer{
    width: 100%;
    height: 900px;
}

.contact{
    position: fixed;
    left: 0;
    top: calc(50% - 30px);
    width: 28px;
    height: 72px;
    line-height: 14px;
    margin-top: -36px;
    padding: 8px 7px;
    font-size: 12px;
    color: #505050;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 0 2px 2px 0;
    box-shadow: 0 6px 10px 0 #e7e7e7;
    box-sizing: border-box;
}

.global-index{
    position: fixed;
    top: 50%;
    right: 40px;
    transform: translate(0, -50%);
}

.global-index__list{
    list-style: none;
}

.global-index__item{
    display: block;
    width: 54px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #505050;
    text-align: center;
    text-decoration: none;
}

.global-index .iconfont{
    color: #505050;
    font-size: 12px;
}
